/* Import Fonts Online */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #eef2ff !important;
    overflow-x: hidden !important;
}

/* Custom Class */
.bg-grey-theme {
    background-color: #393e46 !important;
}

.bg-yellow-theme {
    background-color: #ffd523 !important;
}

.bg-section {
    background-color: #eef2ff !important;
}

.text-grey {
    color: #393e46 !important;
}

.btn-login-theme {
    border-radius: 5px;
    background-color: #393e46 !important;
    color: white !important;
    transition: 0.3s ease-in;
}
.btn-login-theme:hover {
    border-radius: 5px;
    background-color: #eeeeee !important;
    color: black !important;
    transition: 0.3s ease-out;
}

.animate-menu:hover {
    color: #ffffff !important;
    font-weight: 400;
}

.border-theme {
    border: 1px solid #bebebe;
    border-radius: 1rem !important;
}

.shadow-card {
    /* box-shadow: 1px 1px 1px 1px rgba(12, 12, 12, 0.2); */
    box-shadow: 0px 5px 25px rgb(1 1 1 / 10%);
}

.content-item a {
    font-size: 16px;
    font-weight: 600;
    color: #384158;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.content-item {
    padding-top: 5px;
    padding-bottom: 50px;
}

.content-item a:hover {
    color: #646fd4;
}

.content-item a {
    padding: 10px !important;
}

.icon-link:hover {
    color: #393e46 !important;
}

.hr-theme {
    color: #646fd4;
    height: 1.8px !important;
    width: 83% !important;
    align-items: center;
    border-radius: 30px;
}

.hr-theme-2 {
    background-color: #393e46 !important;
    height: 3px !important;
    align-items: center;
    border-radius: 30px;
}

.border-none {
    border: none !important;
}

.border-radius {
    border-radius: 1.5rem !important;
}

.bg-download {
    background-color: #28abb9;
    color: white;
}

/* Fonts Size */
.fw-medium {
    font-weight: 500 !important;
}

.fw-semi-bold {
    font-weight: 600 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.icon-crud-logo {
    font-size: 60px !important;
}

.container-form {
    background-color: white;
    border-radius: 7px;
}

.form-theme {
    background-color: #f6f6f6 !important;
    height: 45px;
    border: 0px !important;
}

.form-theme-disable {
    background-color: #f6f6f6;
    height: 45px;
    border: 0px !important;
}

.form-color {
    background-color: #f6f6f6 !important;
}

.font-head {
    font-size: 24px !important;
}

.text-theme-yellow {
    color: #ffd523 !important;
}

.text-theme-grey {
    color: #393e46 !important;
}

.text-justify {
    text-align: justify !important;
}



/* Settings Responsive */
@media only screen and (min-width: 765px) {
    .form-responsive {
        size: 50px !important;
    }

    .youtube-frame {
        display: hidden !important;
    }
}

@media (max-width: 576px) {
    #login {
        visibility: hidden !important;
    }
}
